*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navegador {
  background: rgb(1, 137, 150);
  width: auto;
  height: 100px;
  /*empieza flex*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.navegador .logo img{
  margin-left: 20px;
  height: 100px;
}

.navegador .portal {
  margin-right: 20px;
  padding-top: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

}
.navegador .portal button{
  border-style: none;
  background: #fff;
  width: 100%;
}
.navegador .portal button:hover{
  background: #ccc;
}

.navegador .portal a{
  font-size: 14px;
}
nav {
  background: rgb(0, 40, 108);
  font-size: 20px;
  font-family: sans-serif, Arial;
  font-weight: 400;
}
nav ul li{
  display: inline-block;
}
nav a{
  display: inline-block;
  padding:10px 20px;
  color: #fff;
  text-decoration: none;
}
nav a:hover{
  background: rgb(10, 16, 60)
}
body
{
  background-image: url(../imagenes/textura.png);
}
.contenedor {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  /*empieza flex*/
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.publicidad
{
  flex: 1 1 90%;
}
.publicidad img{
  margin: auto;
  height: 350px;
  width: 100%;
  border-radius: 10px;
}

.fila1{
  height: 250px;
  flex: 1 1 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.fila1 .articulo{
  background: #fff;
  flex: 1 1 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.articulo article{
  padding-left: 5px;
  flex: 1 1 60%;
}

.login{
  background: rgb(1, 137, 150);
  padding-top: 2%;
  padding-left: 2%;
  text-align: center;
  flex: 1 1 30%;
}
.login input{
  width: 90%;
  display: block;
}

.fila2 {
  height: 250px;
  flex: 1 1 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.fila2 .articulo{
  background: #fff;
  flex: 1 1 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.cotizacion {
  background: rgb(1, 137, 150);
  padding: 0 4%;
  text-align: center;
  flex: 1 1 30%;
}
.cotizacion input{
  width: 100%;
  display: block;
}

.referencias {
  height: 250px;
  background: rgb(122, 58, 27);
  flex: 1 1 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.ref {
  padding-top: 5px;
  text-align: center;
  background: #ccc;
  flex: 1 1 33%;
}

.ref img{
  height: 150px;
  border-radius: 50%;
}

footer {
  background: rgb(1, 137, 150);
  width: 100%;
  padding:20px;
  color: #fff;
}
